
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Sans-serif, Arial, Verdana;
    
}
h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 1rem;
}
span{
    font-size: 1em;
}

li:hover{
    background-color: darkgrey;
}

#top-header{
    background-color:grey ;
    color: white;
}